body {
    background-image: url("../images/background.png");
    background-size: cover;
}



#topBarrier
{
    margin:5%;
}

.text-type
{
    text-align: center
}



#mainTriviaBody
{
    background-color: antiquewhite;
    height: 450px;
}